.container {
    border-radius: 18.5px;
    display: flex;
    height: 500px;
    width: 1000px;
    border: 1px solid black;
    margin: auto;
}

.map-container {
    height: 90%;
    width: 400px;
    
}

.map-title {
    height: 50px;
    line-height: 50px;
    border-bottom: 2px solid black;
    box-sizing: border-box;
}

.map-data { 
    position: relative;
    height: calc(100% - 50px);
    padding-bottom: 10px;
    padding-left: 10px;
    width: 93%;
    height: 95%;

}

.map-data > div {
    height: 94%;
    width: 96%;
}
