.list-container {
    height: calc(100% - 10px);
    width: 200px;
}
.title {
    border-bottom: 2px solid lightgray;
    box-sizing: border-box;
    font-family: Arial;
    font-size: 25px;
    font-weight: 500;
    height: 50px;
    line-height: 50px;
    margin-top: -12px;
    padding-top: 10px;
    padding-left: 4%;
    text-align: left;
}
.data-container {
    box-sizing: border-box;
    height: calc(100% - 50px);
    overflow-y: scroll;
}
.item {
    color: rgb(0,98,255);
    cursor: pointer;
    font-family: Arial;
    font-size: 17px;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    padding: 0 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.selected {
    background: rgb(0, 98, 255);
    border-radius: 10px;
    color: white;
}